node_modules
npm-debug.log
Dockerfile
.dockerignore
.git
.gitignore
README.md
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.nyc_output
coverage
.cache
.next
.vscode
.idea
*.log
dist
docs
.cursor
cookies.txt
cookies_new.txt
token.json
fly.toml
start.sh
.env.*
!.env.example
.DS_Store
logs
*.tgz
.npm
.eslintcache
.coverage
app.yaml 